
  <main class="content">

    <h1>Welcome!!!</h1>

    <div class="row">

      <br/><button class="btn" (click)="openForm()">Add Entry</button><br/>

      <div class="form-popup" id="addEntryForm">
        <form class="form-container" [formGroup]="addBudgetEntryForm" (submit)="addEntry()">
          <h1>Enter the Data</h1>

          <label for="date"><b>Date</b></label>
          <input type="text" placeholder="MM/DD/YYYY" name="date" formControlName="date" required>

          <label for="title"><b>Title</b></label>
          <input type="text" placeholder="Money spent on?" name="title" formControlName="title" required>

          <label for="budget"><b>Budget</b></label>
          <input type="text" placeholder="Amount money spend" name="budget" formControlName="budget" required>

          <button type="submit" class="addbtn">Add</button>
          <button type="button" class="btncancel" (click)="closeForm()">Close</button>
        </form>
      </div>

      <button class="btn" (click)="openPie()">Pie Chart</button><br/>
      <button class="btn" (click)="openBar()">Bar Graph</button><br/>
      <button class="btn" (click)="openPolarArea()">Mix Graph</button><br/>

    </div>

  <div class="row">
    <!--This is an 'article' Schematic Change-->
    <article class="chart-box" id="holder">
    </article>

  </div>
  <div class = "clear"></div>
  </main>

