<nav class="menu">
  <ul>
      <!--<li><a [routerLink]="['/']">Home</a></li>-->
      <div *ngIf=getAuthenticatedUser()>
        <li><a [routerLink]="['/welcome']">Welcome</a></li>
        <li><a [routerLink]="['/homepage']">Home</a></li>
        <li><a [routerLink]="['/login']" (click)="logout()">Logout</a></li>
      </div>
      <div *ngIf=!getAuthenticatedUser()>
        <li><a [routerLink]="['/welcome']">Welcome</a></li>
        <li><a [routerLink]="['/signup']">Sign Up</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
      </div>
  </ul>
</nav>
